body {
    background-color: #edeae8;
}
.scrolled{
    background-color: rgba(253, 200, 108, 0.3) !important;
    background-image: linear-gradient(10deg, rgba(253, 200, 108, 0.8) 30%, rgb(253, 200, 108, 0.8) 100%);
}

nav.scrolled li.nav-item:not(.active) a, nav.scrolled a.navbar-brand {
    color: #57331D;
}

.bg-gradient-yellow {
    /*background-image: linear-gradient(310deg, #B77841 0%, #FDC86C 100%);*/
    background-color: #FDC86C;
    color: #57331D;
}

.text-gradient.text-primary {
    background-image: linear-gradient(310deg, #AD4A20 0%, #AD4A20 100%);
}

h1, .h1, .h1, h2, .h2, .h2, h3, .h3, .h3, h4, .h4, .h4, h5, .h5, .h5, h6, .h6, .h6 {
    color: #57331D;
}

.text-dark {
    color: #57331D !important;
}

.alert-warning {
    z-index: -1;
    position: relative;
    top: -30px;
    box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.11), 0 2px 4px -1px rgba(0, 0, 0, 0.07);
}

.active{
    font-weight: bolder !important;
}

.custom-img {
    width: 80%;
}

.logos{
    margin:25px;
    width: 70%;
}

@media (min-width: 768px) { /* Breakpoint para dispositivos md de Bootstrap */
    .custom-img {
        width: 50%;
    }

    .logos{
        width: 40%;  
    }
}

.cookie-comply__modal, .cookie-comply{
    z-index: 2;    
}

.cookie-comply__modal-switches h3{
    font-size: large;
}

.cookie-comply__back-arrow{
    position: unset !important;
}

.cookie-comply__button-accept{
    background-color: #FDC86C !important;
    color: #57331D !important;
}

input:checked+.cookie-comply-slider{
    background-color: #FDC86C !important;
}