body {
    background-color: #edeae8;
}
.scrolled{
    background-color: rgba(253, 200, 108, 0.3) !important;
    background-image: linear-gradient(10deg, rgba(253, 200, 108, 0.8) 30%, rgb(253, 200, 108, 0.8) 100%);
}

nav.scrolled li.nav-item:not(.active) a, nav.scrolled a.navbar-brand {
    color: black;
}

.bg-gradient-yellow {
    /*background-image: linear-gradient(310deg, #B77841 0%, #FDC86C 100%);*/
    background-color: #FDC86C;
    color: #39384c;
}

.text-gradient.text-primary {
    background-image: linear-gradient(310deg, #F9B204 0%, #d57500 100%);
}

h1, .h1, .h1, h2, .h2, .h2, h3, .h3, .h3, h4, .h4, .h4, h5, .h5, .h5, h6, .h6, .h6 {
    color: #39384c;
}

.text-dark {
    color: #39384c !important;
}

.alert-warning {
    z-index: -1;
    position: relative;
    top: -30px;
    box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.11), 0 2px 4px -1px rgba(0, 0, 0, 0.07);
}

.active{
    font-weight: bolder !important;
}

.custom-img {
    height: auto; /* Altura fija para tama침os peque침os */
    width: 80%;  /* El ancho es autom치tico y proporcional */
}

@media (min-width: 768px) { /* Breakpoint para dispositivos md de Bootstrap */
    .custom-img {
        height: 100px; /* La altura es autom치tica y proporcional */
        width: auto;  /* Ancho fijo para dispositivos medianos y grandes */
    }
}